*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background: #e6e6e6;
}

.flex-container {
    display: flex;
    flex-direction: row;
    max-width: 70%;
    justify-content: space-between;
    flex-wrap: wrap;  
    margin: auto;
    margin-top: 20px;  
}

.links {
    margin-top: 0;
}

header .flex-container img {
    width: 50px;
}

nav {
    background-color: #528fd5;
    display: flex;
    height: 43px;

}

a {
    text-decoration: none;
    color: white;
    font-size: 15px;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}

li {
    padding: 10px 25px;
}

.flex-item1 {
    flex: 70%;    
}

.flex-item2 {
    flex: 28%;
}

.flex-item3 {
    flex: 100%;
    background: black;
    color: white;
    font-size: 14px;
    text-align: center;
    padding: 20px;
}

.title {
    margin-bottom: 20px;
    background:white;
    padding: 30px;
    border-radius: 5px;
}

h2 {
    padding: 20px 0;
}

.aside {
    background: #ff8000;
    border-radius: 5px;
    padding: 30px;
    margin-left: 15px;
}

article .aside {
    color: white;
}
